@model Casgem_Mediator.MeditorPattern.Commands.CreateProductCommand
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">

    <br />
    <br />

    <form method="post">

        <div class="mb-3">
            <label>Ürün Adı</label>
            <input type="text" placeholder="Ürün Adı" class="form-control" asp-for="ProductName" />
        </div>

        <div class="mb-3">
            <label>Stok</label>
            <input type="text" placeholder="Ürün Adı" class="form-control" asp-for="ProductStock" />
        </div>

        <div class="mb-3">
           <a class="btn btn-danger" href="/Default/Index/">İptal</a>
            <input type="submit" placeholder="Ürün Adı" class="btn btn-success" value="Kaydet"/>
        </div>



    </form>
</div>